body {
    background: #b8b8b8;
    border: 1px solid red;
    height: auto;
}

div#caixa {
    background-color: rgb(125, 125, 125);
    padding: 30px;
    width: 512px;
    margin: 56px auto 0px;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 10px;
    
}

div#tituloCalc {
    justify-content: center;
    display: flex;
    border: 1px solid red;
}

h1#titulo01 {
    background-color: rgb(5, 5, 5);
    color: white;
    font: normal 20px arial;
    font-weight: bold;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    border: 1px solid red;
}
ul {
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 10px;
    position: relative;
    border: 1px solid red;
}
ul li button#operadorSelecionado {
    border: 1px;
    font: normal 30px arial;
    color: white;
    width: 35px;
    border-radius: 10px;
    height: 34px;
    text-align: center;
    font-weight: bold;
    background-color: #b8b8b800;
    border: 1px solid red;
}
ul input#n1 {
    text-align: center;
    border: 1px;
    font: normal 25px arial;
    width: 70px;
    border-radius: 10px;
    border: 1px solid red;
}
ul input#n2 {
    text-align: center;
    border: 1px;
    font: normal 25px arial;
    width: 70px;
    margin-right: 40px;
    border-radius: 10px;
    border: 1px solid red;
}
div#caixaResul {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

h1#resultado {
    font: normal 40px arial;
    font-weight: bold;
    text-align: center;
    color: white;
    border: 2px solid rgba(13, 17, 14, 0.249);
    border-radius: 10px;
    background-color: rgba(2, 108, 31, 0.249);
    width: 330px;
}

div#operadores {
    border: 1px solid red;
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 10px;
}

div button#adicao {
    border: 1px;
    font: normal 30px arial;
    width: 50px;
    border-radius: 10px;
}
div button#subtracao {
    border: 1px;
    font: normal 30px arial;
    width: 50px;
    border-radius: 10px;
}
